body {
  margin: 0;
  font-family: sans-serif;
}

.action-box {
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .top-bar {
    height: auto;
    padding: 30px 8px;
    display: flex;
    flex-direction: column;
  }
}
